<a href="https://colab.research.google.com/github/Ni7070/Problems/blob/master/Remove_duplicate_from_a_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Remove duplicate from a list**

**Input:**
[5, 6, 7, 8 ,3, 3, 7, 7, 7]<br>
**Output:**[5, 6, 7, 8, 3]<br>

Solved it in three ways:

---


1. take another list and put the unique elements there, then append the new list in the old one.
2. if got matched, make it null, then take all the not Null elements and append in another list.
3. make it a set, then turn the set into a list.

In [59]:
A= [5, 6, 7, 8 ,3, 3, 7, 7, 7]
b = []
for i in range(len(A)):
  if A[i] not in b:
    b.append(A[i])
for i in range(len(A)):
  if i <len(b):
    A[i] = b[i]
  else:
    A.pop()
print(A)

[5, 6, 7, 8, 3]

In [87]:
lis = [5, 6, 7, 8 ,3, 3, 7, 7, 7]
for i in range(len(lis)):
  for j in range(i+1, len(lis)):
    if lis[i] == lis[j]:
      lis[j] = None
print(lis)   
l = [i for i in lis if i != None]

print(l)

[5, 6, 7, 8, 3, None, None, None, None]
[5, 6, 7, 8, 3]

In [91]:
p = [5, 6, 7, 8 ,3, 3, 7, 7, 7]
s = set(p)
p = list(s)
print(p)

[3, 5, 6, 7, 8]