<a href="https://colab.research.google.com/github/Ni7070/Problems/blob/master/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1+2+3+4+.........n = $\frac{n(n+1)}{2}$

In [74]:
def series1(N):
  print("Series: ")
  sum = 0
  for i in range(1,N+1):
    print(i, "+", end='')
    sum = sum+i
  return sum
print("\nSum: ", series1(10))

Series:
1 +2 +3 +4 +5 +6 +7 +8 +9 +10 +
Sum:  55

$1^2+2^2+3^2+4^2+.........+n^2 = \frac{n(n+1)(2n+1)}{6}$

In [81]:
def series2(n):
  print("Series: ")
  sum=0
  for i in range(1,n+1):
    sum = sum + i**2
    print(i**2, "+", end='')
  return sum
n = 4
print("\nnth term is:", n**2, "sum: ",series2(n))

Series:
1 +4 +9 +16 +
nth term is: 16 sum:  30

$1^3+2^3+3^3+4^3+........+n^3 = (\frac{n(n+2)}{2})^2$

In [83]:
def series3(n):
  print("Series: ")
  sum=0
  for i in range(1,n+1):
    sum = sum + i**3
    print(i**3, "+", end='')
  return sum
n = 4
print("\nnth term is:", n**3, ", Sum: ",series3(n))

Series:
1 +8 +27 +64 +
nth term is: 64 , Sum:  100

$1+ \frac{1}{2} + \frac{1}{3} + \frac{1}{4} + .........+ \frac{1}{n}$

In [89]:
def series4(n):
  print("Series: ")
  sum = 0
  for i in range(1, n+1):
    sum = sum + (1/i)
    print(1/i, "+", end='')
  return round(sum, 3)
n = 50
print("\nnth term is:", 1/n, ", Sum: ",series4(n))

Series:
1.0 +0.5 +0.3333333333333333 +0.25 +0.2 +0.16666666666666666 +0.14285714285714285 +0.125 +0.1111111111111111 +0.1 +0.09090909090909091 +0.08333333333333333 +0.07692307692307693 +0.07142857142857142 +0.06666666666666667 +0.0625 +0.058823529411764705 +0.05555555555555555 +0.05263157894736842 +0.05 +0.047619047619047616 +0.045454545454545456 +0.043478260869565216 +0.041666666666666664 +0.04 +0.038461538461538464 +0.037037037037037035 +0.03571428571428571 +0.034482758620689655 +0.03333333333333333 +0.03225806451612903 +0.03125 +0.030303030303030304 +0.029411764705882353 +0.02857142857142857 +0.027777777777777776 +0.02702702702702703 +0.02631578947368421 +0.02564102564102564 +0.025 +0.024390243902439025 +0.023809523809523808 +0.023255813953488372 +0.022727272727272728 +0.022222222222222223 +0.021739130434782608 +0.02127659574468085 +0.020833333333333332 +0.02040816326530612 +0.02 +
nth term is: 0.02 , Sum:  4.499

$1 + \frac{1}{2*2} + \frac{1}{3*3} + \frac{1}{4*4} + â€¦.. + \frac{1}{n*n}$

In [95]:
def series5(n):
  print("Series: ")
  sum = 0.0
  for i in range(1, n+1):
    sum = sum + (1/i**2)
    print(1/i**2, "+", end='')
  return sum
n = 50
print("\nnth term is:", 1/(n*n), ", Sum: ",round(series5(n),3))

Series:
1.0 +0.25 +0.1111111111111111 +0.0625 +0.04 +0.027777777777777776 +0.02040816326530612 +0.015625 +0.012345679012345678 +0.01 +0.008264462809917356 +0.006944444444444444 +0.005917159763313609 +0.00510204081632653 +0.0044444444444444444 +0.00390625 +0.0034602076124567475 +0.0030864197530864196 +0.002770083102493075 +0.0025 +0.0022675736961451248 +0.002066115702479339 +0.001890359168241966 +0.001736111111111111 +0.0016 +0.0014792899408284023 +0.0013717421124828531 +0.0012755102040816326 +0.0011890606420927466 +0.0011111111111111111 +0.001040582726326743 +0.0009765625 +0.0009182736455463728 +0.0008650519031141869 +0.0008163265306122449 +0.0007716049382716049 +0.0007304601899196494 +0.0006925207756232687 +0.0006574621959237344 +0.000625 +0.000594883997620464 +0.0005668934240362812 +0.0005408328826392645 +0.0005165289256198347 +0.0004938271604938272 +0.0004725897920604915 +0.0004526935264825713 +0.00043402777777777775 +0.00041649312786339027 +0.0004 +
nth term is: 0.0004 , Sum:  1.625