<a href="https://colab.research.google.com/github/Ni7070/Problems/blob/master/String_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Count the occurance of each charater in a string

In [ ]:
import collections
s = 'My Name Is Nishat'
result = collections.Counter(s)
print(result)

Counter({' ': 3, 'N': 2, 'a': 2, 's': 2, 'M': 1, 'y': 1, 'm': 1, 'e': 1, 'I': 1, 'i': 1, 'h': 1, 't': 1})

In [42]:
dic = {}
for i in s:
  if i in dic.keys():
    dic[i] += 1
  else:
    dic[i] = 1
# for i in dic.items():
#   print(i)
print(dic)

{'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

max occuring character

In [91]:
s = "GeeksfffforGeeks"
d = {}
for i in s:
  if i in d.keys():
    d[i] += 1
  else:
    d[i] = 1
maximum = max(d.values())
print(maximum)

maxlist = []
for k, v in d.items():
  if v == maximum:
    maxlist.append((k, v))
print(maxlist)

# res = max(d, key = d.get)
# print(res, d[res])

4
['e', 'f']

count the duplicate strings

In [85]:
for i in dic:
  if dic[i]>1:
    print(i, dic[i])

G 2
e 4
k 2
s 2

In [ ]:
s = "Bring-me-a-glass-of-water"
dicti = {}
for i in s:
  if i in dicti.keys():
    dicti[i] += 1
  else:
    dicti[i] = 1
print(dicti)

for i in dicti:
  if dicti[i]>1:
    print(i, sep=' ', end=' ')

{'B': 1, 'r': 2, 'i': 1, 'n': 1, 'g': 2, '-': 5, 'm': 1, 'e': 2, 'a': 3, 'l': 1, 's': 2, 'o': 1, 'f': 1, 'w': 1, 't': 1}
r g - e a s

Remove dulpicates from a string

In [ ]:
st = "I love Bangladesh"
stSet = set(st)
s1 = ''.join(stSet)
print(s1)

slveB Iaghdno

Check substring

In [ ]:
sub = "love"
s = 'I love love Bangladesh'
if sub in s:
  print("yes")
else:
  print("no")

yes

check occurance of a substring

In [ ]:
check = "lo"
s = "I love lov  lo Bangladesh"
count = s.count(check) #start #end
print(count)

3

In [ ]:
def count_substring(string,sub_string):
    count=0
    l = len(string)-len(sub_string)+1
    print(l)
    for i in range(len(string)-len(sub_string)+1):
        if(string[i:i+len(sub_string)] == sub_string ):      
            count+=1
    return count  
print(count_substring('loolvelove', 'lo'))

9
2

**Reversing a string**

In [ ]:
s = "I love Coding"

for i in reversed(s):
  print(i, end='')

gnidoC evol I

In [ ]:
s = "I love Coding"
s1 = s[::-1]
print(s1)

gnidoC evol I

In [ ]:
def find_pairs(l, x):
  pairs = []
  for (i, el_1) in enumerate(l):
    for (j, el_2) in enumerate(l[i+1:]):
      if el_1 + el_2 == x:
        pairs.append((el_1, el_2))
  return pairs
l = [1,2,3,4,5,6,7,0]
print(find_pairs(l, 10))

[(3, 7), (4, 6)]

**Palindrome check**

In [ ]:
s = "ballab"
for i in range(int(len(s)/2)):
  # print(s[i], s[len(s)-i-1])
  if s[i] != s[len(s)-i-1]:
    print("Not palindrome")
    break
  
else:
  print("palindrome")

palindrome

In [ ]:
s = "ballab"
if s == s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [ ]:
s = "saraaras"
s2 = []
for i in reversed(s):
  s2.append(i)
s2 = ''.join(s2)

if s==s2:
  print("palindrome")
else:
  print("not palindrome")

saraaras
palindrome

**checking subsequece(maintains oder)**

In [ ]:
def is_subsequence(x,y):
  if len(x)>len(y):
    s = x
    sub = y
  else:
    s = y
    sub = x

  len_s = len(s)
  len_sub = len(sub)
  s_index = 0 
  sub_index = 0

  while sub_index < len_sub and s_index < len_s:
    if sub[sub_index] == s[s_index]:
      sub_index += 1
    s_index += 1
  if sub_index == len_sub:
    return True
  else:
    return False

p = is_subsequence("acx", "axca")
print(p)

False

**Valid Plaindrome**

In [ ]:
s = "A man, a plan, a canal: Panama"
l=[]
for i in s:
  if i.isalnum():
    i = i.lower()
    l.append(i)
s1= "".join(l)
if s1 == s1[::-1]:
  return True
else:
  return False
print(s1)

amanaplanacanalpanama

**isomorphic string**

Two strings s and t are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.

In [ ]:
s = "paper"
t = "title"
s1 = "bbbaaabac"
t1 = "aaabbbbaa"
def isIsomorphic(s: str, t: str) -> bool:
  if len(set(s)) == len((set(t))) == len(set(zip(s,t))):
    return True
  else:
    return False

print(isIsomorphic(s,t))
print(isIsomorphic(s1,t1))

True
False

Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

In [3]:
str1 = "JhonDipPeta"
str2 = str1[int(len(str1)/2-1):int(len(str1)/2+2)]
print(str2)

Dip

Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

In [6]:
s1 = "Ault"
s2 = "Kelly"
s = s1[:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):]
print(s)

AuKellylt

In [14]:
str1 = "PyNaTive"
u = []
l = []
for i in str1:
  if i.islower():
    l.append(i)
  else:
    u.append(i)
result = "".join(l+u)
print(result)

yaivePNT

In [22]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub = "usa"
count = 0
str2 = str1.lower()
for i in range(len(str2)):
  if str2[i:i+int(len(sub))] == sub:
    count +=1
print(count)

2

**Symmetrical**
if both halves of a string is equal

ex : *khokho*

In [32]:
s = 'khopkhop'

if s[:int(len(s)/2)] == s[int(len(s)/2):]:
  print("symmetrical")
else:
  print("not symmetrical")

symmetrical

Get substring of a string:

In [70]:
g= "I love coding fo      do fo do"
l1 = g.split()
print(g.split())
t = {}
for i in l1:
  if i in t.keys():
    t[i] += 1
  else:
    t[i] = 1
re = max(t, key=t.get)
print(re, t[re])

['I', 'love', 'coding', 'fo', 'do', 'fo', 'do']
fo 2

In [84]:
mx = max(t.values())
p=[]
# p = [k for k, v in t.items() if v == mx]
for k, v in t.items():
  if v==mx:
    p.append(k)

print(p)

['fo', 'do']